<h2>New Holiday</h2>

<%= labelled_form_for @holiday, url: custom_holidays_path do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <%= submit_tag 'Create' %>
  <%= link_to 'Cancel', custom_holidays_path, class: 'button' %>
<% end %>
